/* https://github.com/j-alarcon */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.self-flex-end {
  align-self: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.header {
  position: fixed;
  z-index: 2;
}

.opacity-container {
  position: absolute;
  z-index: 0;
}

.relative {
  position: relative;
  z-index: 1;
}
