/* https://github.com/j-alarcon */
@media screen and (max-width: 1100px) {
  section.big-section {
    flex-direction: column-reverse;
  }

  #about-us,
  #about-us .opacity-container {
    height: 44rem;
  }

  .img-big {
    width: 22rem;
  }

  .item-gallery {
    margin: 1.25rem 1.9rem 1.25rem 1.9rem;
  }

  .container-quote,
  section.container-quote div.opacity-container {
    height: 18.75rem;
  }

  .quote {
    width: 90%;
    text-align: justify;
  }

  .quote p:not(p.author) {
    font-size: 1.1rem;
  }

  section.signup article {
    flex-direction: column;
    gap: 1.9rem;
  }

  .sign {
    width: 80%;
    padding: 2.5rem;
  }

  article.sign h4,
  article.sign p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .header {
    justify-content: space-between;
  }

  .header h1 {
    margin: 1rem 0 0.19rem 0.06rem;
    font-size: 1.3rem;
  }

  .logo {
    margin-left: 1rem;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
    margin-right: 1rem;
  }

  #about-us,
  #about-us .opacity-container {
    height: 42rem;
  }

  .img-big {
    width: 18rem;
    margin-top: 0.5rem;
  }

  h2 {
    font-size: 1.4rem;
    width: 100%;
  }

  section.big-section p {
    width: 80vw;
  }
}
