/* https://github.com/j-alarcon */
@media screen and (max-width: 1150px) {
  section.big-section {
    flex-direction: column-reverse;
  }

  #about-us {
    height: 48rem;
  }

  #about-us .opacity-container {
    height: 43rem;
  }

  .item-gallery {
    margin: 1.25rem 1.9rem 1.25rem 1.9rem;
  }

  .container-quote,
  section.container-quote div.opacity-container {
    height: 18.75rem;
  }

  .quote {
    width: 90%;
    text-align: justify;
  }

  .quote p:not(p.author) {
    font-size: 1.1rem;
  }

  section.signup article {
    flex-direction: column;
    gap: 1.9rem;
  }

  .sign {
    width: 80%;
    padding: 2.5rem;
  }

  article.sign h4,
  article.sign p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .nav,
  .footer {
    height: 6rem;
  }

  .nav ul,
  .nav li,
  .nav a {
    justify-content: center;
    align-items: center;
  }

  .flex-r,
  #burger:checked + header nav {
    display: flex;
  }

  #burger:checked ~ div .burger-opacity,
  .p-m {
    display: block;
  }

  .nav li:hover,
  h2 {
    background-color: #572345;
  }

  .hidden-r {
    display: none;
  }

  .max-width-r {
    width: 100%;
  }

  .max-height-r {
    height: 100%;
  }

  .border-purple {
    border: none;
  }

  .header {
    justify-content: space-between;
  }

  .header h1 {
    margin: 1rem 0 0.19rem 0.4rem;
    font-size: 1.3rem;
  }

  .logo {
    margin-left: 1rem;
  }

  .burger {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
  }

  .burger-opacity {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #burger:checked + header .burger img {
    transform: rotate(270deg);
  }

  .nav {
    position: absolute;
    top: 5.1rem;
  }

  .nav ul {
    padding: 0;
  }

  .nav li {
    height: 3.3rem;
    background-color: white;
    border-bottom: 0.3rem solid #572345;
  }

  .nav li:hover a {
    color: white;
  }

  .big-section {
    background: white;
  }

  #about-us {
    height: 31.5rem;
  }

  #sign {
    margin-bottom: 1.7rem;
  }

  h2 {
    border-radius: 0.44rem;
    font-size: 1.4rem;
    padding: 1rem;
    width: 20rem;
  }

  section.big-section p {
    width: 80vw;
    color: black;
    text-shadow: none;
  }

  .footer {
    height: 7rem;
  }
}

@media screen and (max-width: 440px) {
  .big-section,
  .item-gallery {
    gap: 0;
  }

  .big-section {
    padding-top: 7.8rem;
  }

  .title-gallery {
    margin-bottom: 0.7rem;
  }

  .subtitles {
    margin-top: 0.7rem;
  }

  .section.signup article {
    gap: 0;
  }
}

@media screen and (max-width: 330px) {
  .height-z,
  #about-us {
    height: auto;
  }

  .container-quote,
  .footer-left {
    padding: 10%;
  }

  #about-us article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-us h2 {
    width: 80%;
  }

  section.container-quote div.opacity-container {
    height: 100%;
  }

  .signup {
    margin: 7% 0 7% 0;
  }

  .sign {
    padding: 1.4rem;
  }

  .footer-right {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  .hidden-z {
    display: none;
  }

  .padding-text-z {
    padding: 12%;
  }

  .header {
    justify-content: center;
  }

  .logo {
    margin: 0;
  }

  .big-section {
    padding: 4rem 0 0 0;
  }

  .item-gallery {
    width: 100%;
  }
}
